.red {
  background-color: #e24141;
}
.blue {
  background-color: #547ce4;
}
.green {
  background-color: #73bc6d;
}
.purple {
  background-color: #de59b9;
}
.mint {
  background-color: #94dacd;
}
.pink {
  background-color: #e76e9a;
}
.orange {
  background-color: #f37d3b;
}
.yellow {
  background-color: #fbcd58;
}
