@import "./card.css";
@import "./input.css";
@import "./button.css";
@import "./modal.css";
@import "./keypad.css";
@import "./utils.css";

html {
  font-size: 14px;
}
* {
  font-family: 'Roboto', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  align-items: center;
  justify-content: center;
  min-height: calc(100vh - 1rem);
  background-color: #e5e5e5;
}

input {
  font-size: 16px;
}

#root {
  background-color: #fff;
  width: 375px;
  min-width: 375px;
  height: 700px;
  position: relative;
  border-radius: 15px;
}

.app {
  height: 100%;
  padding: 16px 24px;
}

.page-container {
  height: 100%;
}

.page-title {
  font-weight: 500;
  font-size: 16px;
  line-height: 22px;
  display: flex;
  align-items: center;
  color: #383838;
}
