.container {
  display: flex;
  flex-direction: column;
  background-color: white;
  margin: 5vh auto;
  width: 55vw;
  height: 100%;
  padding: 2rem;
  border-radius: 1rem;
  flex: 1 1 1;
}

.header {
  font-size: 2rem;
  font-weight: 700;
  margin: 3rem;
  text-align: center;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 5rem;
}

.inputContainer {
  margin: 1rem;
  margin-bottom: 5rem;
}

.input {
  width: 20rem;
  height: 3rem;
  border: none;
  text-align: center;
  font-size: 2rem;
  border-bottom: 2px solid black;
  outline: none;
}

.footer {
  display: flex;
  justify-content: space-between;
  margin-top: 3rem;
}
