.input-container {
  margin: 16px 0;
}

.input-box {
  display: flex;
  align-items: center;
  margin-top: 0.375rem;
  color: #d3d3d3;
  border-radius: 0.25rem;
  background-color: #ecebf1;
}

.input-title {
  display: flex;
  align-items: center;

  font-size: 12px;
  line-height: 14px;

  margin-bottom: 4px;

  color: #525252;
}

.input-title .tooltip {
  position: relative;
  vertical-align: middle;
  cursor: pointer;
}

.input-title .tooltip .text {
  display: none;
  position: absolute;
  top: 0;
  left: 120%;
  padding: 0.5rem;
  width: 80px;
  background-color: #2c3e50;
  border-radius: .25rem;
  color: #fff;
  font-weight: bold;
}

.input-title .tooltip:hover .text {
  display: block;
}

.input-basic {
  background-color: #ecebf1;
  height: 45px;
  width: 100%;
  text-align: center;
  outline: 2px solid transparent;
  outline-offset: 2px;
  border-color: #9ca3af;
  border: none;
  border-radius: 0.25rem;
}

.input-underline {
  text-align: center;
  border: none;
  background: none;
  outline: none;

  margin: 16px 0;
  padding: 4px 0;

  border-bottom: 1px solid #383838;
}
